/* @override http://localhost:8888/mollify/configure/resources/style.css */

@import "../../resources/style.css";

.content {
	margin: 2px 0 0;
}

#page-area {
	margin-left: 176px;
	margin-top: 6px;
	margin-right: 6px;
}

#page-header {
	height: 25px;
	padding-top: 7px;
	padding-left: 6px;
	background-color: #badce8;
	margin-bottom: 4px;
	border-bottom: 1px solid #b9b9b9;
}

#page-title {
	font-weight: bold;
	font-size: 15px;
	float: left;
}

#request-indicator {
	float: right;
	width: 16px;
	height: 16px;
	margin-right: 7px;
	margin-top: 2px;
}

#request-indicator.active {
	background: url(../../resources/images/wait.gif) no-repeat;
}

#main-menu {
	padding-left: 0px;
	margin-right: 5px;
	margin-top: 2px;
	position: absolute;
	top: 75px;
	left: 0;
	width: 170px;
}

#main-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}

#main-menu li {
	margin: 0;
	height: 22px;
	padding-top: 9px;
	border-bottom: 1px dotted #c2c4c4;
	padding-left: 9px;
}

#main-menu li:first-child {
	border-top: 1px dotted #c2c4c4;
}

#main-menu li:hover {
	background-color: #e9e9e9;
	cursor: pointer;
}

#main-menu li.active {
	background-color: #badce8;
	font-weight: bold;
}

#page {
	
}

.toolbar {
	clear: none;
	width: 100%;
	height: 30px;
}

.toolbar button {
	cursor: pointer;
	line-height: 1.4em;
	width: auto;
	overflow: visible;
	height: 25px;
}

#button-refresh-users, #button-refresh-groups, #button-refresh-group-users {
	float: right;
}

.configuration-details {
	margin-top: 10px;
	border-top: 2px solid #b9b9b9;
	padding-top: 4px;
}

.details-info {
	padding-left: 3px;
	padding-top: 7px;
	font-size: 15px;
	color: #bfbfbf;
}

.details-data h1 {
	font-weight: bold;
	font-size: 13px;
	background-color: #ededed;
	margin: 0 0 5px;
	padding-top: 4px;
	padding-bottom: 6px;
	padding-left: 6px;
}

#user-dialog {
}

.user-data {
}

.user-data .title {
	margin-bottom: 3px;
}

.user-data input, .user-data select {
	background-color: #f3f3f3;
	border: 1px solid #aaacac;
	height: 16px;
	margin-top: 4px;
	margin-bottom: 7px;
	width: 250px;
}

.user-data select{
	height: 22px;
}

.user-data.invalid input {
	background-color: #edf4bf;
}

#user-password-generator {
	margin-top: 4px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
	border: 1px solid #b0b0b0;
	background-color: #d6d8fc;
	background-image: none;
}