@import url(plugins.css);

html, body {
	margin: 0;
	padding: 0;
}

#mollify {
	float: left;
	width: 100%;
}

#mollify, .bubble-content {
	font-size: 12px;
	font-family: "Lucida Grande", "Trebuchet MS", Lucida, Verdana, sans-serif;
}

a.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	cursor: pointer;
}

a.button-small {
	font-size:12px;
	font-weight:normal;
	padding:6px 12px;
}

a.button-blue {
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	color:#ffffff;
	text-shadow:1px 1px 0px #287ace;
	background-color:#79bbff;
	border:1px solid #469df5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;
}

a.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

a.button-blue:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
}

a.button:active {
	position:relative;
	top:1px;
}

a.link {
	color: #1111ff;
}

.mollify-notification {
	background-color: rgba(0,0,0,0.5)
}

.mollify-notification-content {
	padding: 18px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
}

.mollify-wait {
	background: url(images/wait.gif) no-repeat center center;
}

#login-main {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

#login-main .mollify-notification {
	margin-top: 30px;
}

.login-field, #login-button, #login-links {
	float: left;
	clear: both;
}

#login-data {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
	width: 400px;
	height: 300px;
	margin: 0 auto;
	background-color: #FAFAFA;
	background-image: url(mollify.png);
	background-repeat: no-repeat;
	background-position: center 20px;
	position: relative;
}

input.text-field {
	border-radius: 3px;
	border: 1px solid #DFDFDF;
	background-color: #ffffff;
	height: 18px;
}

input.login-field.text-field {
	font-size: 18px;
	width: 200px;
	height: 30px;
	margin-top: 10px;
	margin-left: 100px;
	text-align: center;
}

#login-name {
	margin-top: 100px;
}

#login-remember {
	margin-top: 20px;
	margin-bottom: 20px;
}

a.login-link {
	float: left;
	margin-top: 10px;
	font-size: 10px;
	color: #aaaaaa;
}

#login-register {
	margin-left: 20px;
}