/* @override 
	http://localhost:7777/mollify/install/style.css
	http://localhost:7777/mollify/install/resources/style.css
*/

* {
	font-family: Georgia, "Times New Roman", Times, serif;
}

body {
	font-size: 14px;
	margin: 0 0 0 0px;
	padding: 0;
}

#header {
	width: 100%;
	background-color: #e8ceff;
	font-size: 21px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#content {
	padding: 4px;
	margin-top: 20px;
	float: left;
	clear: both;
	margin-left: 4px;
}

#db-content, #db-footer, #conf-footer {
	float: left;
	clear: both;	
}

.buttons {
	clear: both;
	float: left;
	margin-top: 27px;
}

.button, .button-hover {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	background-color: #ffac85;
	border: 2px solid #d58e70;
	cursor: pointer;
	cursor: hand;
	padding: 4px 10px;
	margin-top: 10px;
}

.button-hover {
	background-color: #f2a280;
}

span.info {
	clear: both;
	float: left;
	width: 500px;
	padding: 4px;
}

span.note {
	clear: both;
	float: left;
	font-weight: bold;
	font-style: italic;
	background-color: #ffdf35;
	padding: 10px;
	margin-top: 12px;
	width: 500px;
}

.error-msg {
	clear: both;
	float: left;
	font-weight: bold;
	font-style: italic;
	background-color: #ff310b;
	padding: 10px;
	margin-bottom: 5px;
	width: 500px;
}

.error-msg, .error-msg .title, .error-msg .details {
	clear: both;
	float: left;
}

.error-msg .details {
	font: normal normal 12px "Lucida Grande", Lucida, Verdana, sans-serif;
	margin-top: 4px;
}

span.confirmation {
	float: left;
	font-weight: bold;
	font-size: 17px;
	background-color: #f0f0f0;
	padding: 10px;
	margin-top: 12px;
	clear: both;
	width: 500px;
}

span.confirmation .message {
	float: left;
	clear: both;
}

span.confirmation input {
	margin-top: 8px;
	float: left;
	clear: both;	
}

span.item, .title {
	float: left;
	clear: both;
}

span.result {
	font-weight: bold;
	clear: both;
	float: left;
	margin-top: 13px;
	font-size: 26px;
}

span.title {
	font-weight: bold;
	margin-top: 7px;
	margin-bottom: 7px;
	font-size: 16px;
	border-bottom: 1px solid #868686;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
}

span.title span.nr {
	font-size: 19px;
	font-weight: bold;
	margin-right: 7px;
	color: #4f4f4f;
}

code {
	font-family: "Courier New", Courier, mono;
}

.list {
	clear: both;
	float: left;
	padding: 10px;
	background-color: #fff1e8;
	width: 500px;
	margin-top: 6px;
}

.list .list-item {
	float: left;
	clear: left;
}

.list-item .name {
	width: 159px;
	font-weight: bold;
	float: left;
}

.list-item .value {
	float: left;
}

.list .title {
	margin-bottom: 11px;
	font-size: larger;
}

.progress {
	clear: both;
	float: left;
	font-weight: bold;
	padding-top: 18px;
	padding-bottom: 8px;
}

span.instructions {
	clear: both;
	float: left;
	margin-top: 12px;
}

span.section {
	float: left;
	clear: both;
	float: left;
}

span.instructions span.example {
	float: left;
	margin-top: 12px;
	font-family: "Courier New", Courier, mono;
	font-style: italic;
	background-color: #f7f7f7;
	width: 100%;
}

div.user {
	background-color: #f3f3f3;
	float: left;
	padding: 10px;
	margin-top: 6px;
	margin-bottom: 6px;
}

.user span.title {
	float: left;
	clear: both;
	margin-bottom: 4px;
	font-size: 14px;
	text-decoration: none;
	border-style: none;
	padding-left: 0;
	margin-top: 0;
}

.user input.value {
	height: 15px;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

#admin-username input.value {
	margin-bottom: 4px;
}

.user-data {
	float: left;
	clear: both;
	margin-left: 6px;
}

.user-data-invalid .title {
	color: #ff924a;
}

.user-data-invalid input.value {
	background-color: #ffefd5;
	border-style: solid;
}

.user-data .title {
	width: 100px;
}
