<script id="mollify-tmpl-dialog-info" type="text/x-jquery-tmpl">
	<div class="mollify-dialog dialog-info" title="${title}">
		<div class="mollify-dialog-content">${message}</div>
		<div class="mollify-dialog-buttons">
			<a id="mollify-info-dialog-close-button" class="localized button button-small" text-key="dialogClose"></a>
		</div>
	</div>
</script>

<script id="mollify-tmpl-notification" type="text/x-jquery-tmpl"> 
	<div class="mollify-notification">
		<div class="mollify-notification-content">${message}</div>
	</div>
</script>

<script id="mollify-tmpl-wait" type="text/x-jquery-tmpl"> 
	<div class="mollify-wait"></div>
</script>

<script id="mollify-tmpl-popupmenu" type="text/x-jquery-tmpl">
	<div class="mollify-popupmenu">
	{{each items}}
		{{if $item.isSeparator($value)}}
		<div class="mollify-popupmenu-separator"/>
		{{else}}
		<div class="mollify-popupmenu-item">${$item.getTitle($value)}</div>
		{{/if}}
	{{/each}}
	</div>
</script>