<script id="mollify-tmpl-dialog-info" type="text/x-jquery-tmpl">
	<div class="modal">
		<div class="modal-header">
			<h3>${title}</h3>
		</div>
		<div class="modal-body">${message}</div>
		<div class="modal-footer">
			<a id="mollify-info-dialog-close-button" class="localized btn" text-key="dialogClose"></a>
		</div>
	</div>
</script>

<script id="mollify-tmpl-notification" type="text/x-jquery-tmpl"> 
	<div class="mollify-notification">
		<div class="mollify-notification-content">${message}</div>
	</div>
</script>

<script id="mollify-tmpl-wait" type="text/x-jquery-tmpl"> 
	<div class="mollify-wait"></div>
</script>

<script id="mollify-tmpl-dialog-custom" type="text/x-jquery-tmpl">
	<div class="modal">
		<div class="modal-header">
			<h3>${title}</h3>
		</div>

		<div class="modal-body">{{html $item.getContent()}}</div>
		<div class="modal-footer">
			{{each buttons}}
			<a id="mollify-custom-dialog-button-${id}" class="btn">${$item.getButtonTitle($value)}</a>
			{{/each}}
		</div>
	</div>
</script>

<script id="mollify-tmpl-popupmenu" type="text/x-jquery-tmpl">
	<ul class="dropdown-menu">
	{{each items}}
		{{if $item.isSeparator($value)}}
		<li class="dropdown-item divider"/>
		{{else}}
		<li class="dropdown-item"><a href="#">${$item.getTitle($value)}</a></li>
		{{/if}}
	{{/each}}
	</ul>
</script>