<div id="mainview-main">
	<div id="mainview-header">
		<div id="mainview-logo"></div>
		<div id="mainview-header-tools">
			<div id="mainview-user"></div>
			<div id="mainview-search">TODO</div>
		</div>
	</div>

	<div id="mainview-content-container">
		<div id="mainview-content">

		</div>
	</div>
	
	<div id="mainview-dropbox">
	</div>
	
	<div id="mainview-footer">
	</div>
</div>

<script id="mollify-tmpl-main-username" type="text/x-jquery-tmpl">
	{{if authenticated}}
	<div id="mollify-username-dropdown"><span class="dropdown-title">${username}</span></div>
	{{/if}}
</script>

<script id="mollify-tmpl-main-folder" type="text/x-jquery-tmpl">
	<div id="mollify-folderview">
		<div id="mollify-folderview-header">
			<div id="mollify-folder-name">${name}</div>
			<div id="mollify-folder-hierarchy"></div>
		</div>
		<div id="mollify-folderview-items">
		</div>
	</div>
</script>

<script id="mollify-tmpl-main-folder-hierarchy" type="text/x-jquery-tmpl">
	<span class="folder-hierarchy-separator">&nbsp;&gt;&nbsp;</span><span id="folder-hierarchy-item-${id}" class="folder-hierarchy-item">${name}</span>
</script>

<script id="mollify-tmpl-filelist" type="text/x-jquery-tmpl">
	<div id="${listId}" class="mollify-filelist">
		<div id="${listId}-header" class="mollify-filelist-header">
			<div class="mollify-filelist-header-icon-col"></div>
			<div id="${listId}-header-cols" class="mollify-filelist-header-cols"></div>
		</div>
		<div id="${listId}-items" class="mollify-filelist-items"></div>
	</div>
</script>

<script id="mollify-tmpl-filelist-headercol" type="text/x-jquery-tmpl">
	<div class="mollify-filelist-col-header mollify-filelist-col-${id}">${$item.title($data)}</div>
</script>

<script id="mollify-tmpl-filelist-item" type="text/x-jquery-tmpl">
	<div id="mollify-filelist-item-${id}" class="mollify-filelist-item ${$item.typeClass($data)}">
		<div class="mollify-filelist-item-icon"></div>
		{{html $item.cols($data)}}
	</div>
</script>