<div id="mollify-mainview-header" class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<div id="mollify-mainview-logo"></div>
			<div id="mollify-mainview-header-tools" class="nav-collapse collapse">
				<ul id="mollify-mainview-user" class="nav pull-right"></ul>
				<div id="mollify-mainview-search" class="input-append pull-right">
					<input id="mollify-mainview-search-input" class="hintbox" type="text" hint-key="mainviewSearch">
					<button class="btn" type="button"><i class="icon-search"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="mollify-notification-container" class="mollify-mainview-notification-container"></div>
<div id="mollify-mainview-main" class="container">
	<div id="mollify-mainview-content" class="row">
		<div class="span2" class="well">
			<ul id="mollify-mainview-rootlist" class="nav nav-list affix">
	        </ul>
		</div>
		
		<div id="mollify-folderview" class="span10">
			<div id="mollify-folderview-header">
			</div>
			
			<div id="mollify-folderview-items">
			</div>
			
			<div id="mollify-mainview-progress" style="display: none">
				<div class="progress progress-striped active">
					<div class="bar" style="width: 0%;"></div>
				</div>
			</div>
			<div id="mollify-mainview-content-footer">
				<div id="mollify-mainview-viewstyle-options" class="mollify-radio">
					<button id="mollify-mainview-viewstyle-list" class="btn mainview-viewstyle-option"><i class="icon-list-ul"></i></a>
					<button id="mollify-mainview-viewstyle-small-icons" class="btn mainview-viewstyle-option"><i class="icon-th"></i></a>
					<button id="mollify-mainview-viewstyle-large-icons" class="btn mainview-viewstyle-option"><i class="icon-th-large"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>

<script id="mollify-tmpl-main-username" type="text/x-jquery-tmpl">
	{{if authenticated}}
	<li id="mollify-username-dropdown">
		<a href="#" class="dropdown-toggle">${username} <b class="caret"></b></a>
	</li>
	{{/if}}
</script>

<script id="mollify-tmpl-main-changepassword" type="text/x-jquery-tmpl">
	<div id="mollify-mainview-changepassword">
		<div id="mollify-mainview-changepassword-old" class="control-group">
			<input class="hintbox mollify-mainview-changepassword-input" type="password" hint-key="mainviewChangePasswordOld"></input>
			<span class="help-inline"></span>
		</div>
		<div id="mollify-mainview-changepassword-new1" class="control-group">
			<input class="hintbox mollify-mainview-changepassword-input" type="password" hint-key="mainviewChangePasswordNew"></input>
			<span class="help-inline"></span>
		</div>
		<div id="mollify-mainview-changepassword-new2" class="control-group">
			<input class="hintbox mollify-mainview-changepassword-input" type="password" hint-key="mainviewChangePasswordVerify"></input>
			<span class="help-inline"></span>
		</div>
	</div>
</script>

<script id="mollify-tmpl-main-root-list" type="text/x-jquery-tmpl">
	<li id="mollify-mainview-rootlist-item-${id}" class="mollify-mainview-rootlist-item" ><a href="javascript: void(0);"><i class="icon-chevron-right"></i> ${name}</a></li>
</script>

<script id="mollify-tmpl-main-folder" type="text/x-jquery-tmpl">
	<div id="mollify-folder-tools" class="btn-toolbar"></div>
	<div id="mollify-folder-hierarchy" class="breadcrumb">
		<li id="mollify-folder-hierarchy-item-root"><a href="javascript: void(0);"></a> <span class="divider">/</span></li>
		<!--span class="folder-hierarchy-separator">&nbsp;&gt;&nbsp;</span><span id="folder-hierarchy-item-${id}" class="folder-hierarchy-item">${name}</span-->
	</div>
	<div id="mollify-folder-name" class="mollify-folderview-title page-header"><h2>${folder.name}</h2></div>
</script>

<script id="mollify-tmpl-main-foldertools-action" type="text/x-jquery-tmpl">
	<div class="btn-group">
	{{if dropdown}}
		<li>
			<button class="btn btn-flat foldertool dropdown-toggle">
			{{if icon}}
			<i class="${icon}"></i>
			{{else}}
			${$item.title()}
			{{/if}}
			&nbsp;<b class="caret"></b>
			</button>
		</li>
	{{else}}
		<button class="btn btn-flat foldertool">
			{{if icon}}
			<i class="${icon}"></i>
			{{else}}
			${$item.title()}
			{{/if}}
		</button>
	{{/if}}
	</div>
</script>

<script id="mollify-tmpl-main-createfolder-bubble" type="text/x-jquery-tmpl">
	<div id="mollify-mainview-createfolder-content">
		<span id="mollify-mainview-createfolder-title" class="localized" text-key="mainviewCreateFolderTitle"></span>
		<div id="mollify-mainview-createfolder-name" class="input-append pull-right">
			<input id="mollify-mainview-createfolder-name-input" class="hintbox" type="text" hint-key="mainviewCreateFolderName">
			<button id="mollify-mainview-createfolder-button" class="btn" type="button"><i class="icon-arrow-right"></i></button>
		</div>
	</div>
</script>

<script id="mollify-tmpl-main-addfile-bubble" type="text/x-jquery-tmpl">
	<div id="mollify-mainview-addfile">
		<div id="mollify-mainview-addfile-upload" class="mollify-mainview-addfile-section"></div>
		<div id="mollify-mainview-addfile-retrieve" class="mollify-mainview-addfile-section">
			<span id="mollify-mainview-addfile-retrieve-title" class="localized" text-key="mainviewRetrieveFileTitle"></span>
			<div class="input-append pull-right">
				<input id="mollify-mainview-addfile-retrieve-url-input" class="hintbox" type="text" hint-key="mainviewRetrieveUrlTitle">
				<button id="mollify-mainview-addfile-retrieve-button" class="btn" type="button"><i class="icon-arrow-right"></i></button>
			</div>
		</div>
	</div>
</script>

<script id="mollify-tmpl-main-rootfolders" type="text/x-jquery-tmpl">
	<span class="mollify-folderview-title localized" text-key="mainViewRootsTitle"></span>
</script>

<script id="mollify-tmpl-main-folder-hierarchy" type="text/x-jquery-tmpl">
	<li id="mollify-folder-hierarchy-item-${id}" class="mollify-folder-hierarchy-item"><a href="javascript: void(0);">${name}</a> <span class="divider">/</span></li>
</script>

<script id="mollify-tmpl-filelist" type="text/x-jquery-tmpl">
	<div id="${listId}" class="mollify-filelist">
		<div id="${listId}-header" class="mollify-filelist-header">
			<div class="mollify-filelist-col mollify-filelist-col-icon mollify-filelist-col-header"></div>
			<div id="${listId}-header-cols" class="mollify-filelist-header-cols"></div>
		</div>
		<div id="${listId}-items" class="mollify-filelist-items"></div>
	</div>
</script>

<script id="mollify-tmpl-filelist-headercol" type="text/x-jquery-tmpl">
	<div id="mollify-filelist-col-header-${id}" class="mollify-filelist-col mollify-filelist-col-${id} mollify-filelist-col-header">
		<div class="mollify-filelist-col-header-title">${$item.title($data)}</div>
		<div class="mollify-filelist-col-sort-indicator"></div>
	</div>
</script>

<script id="mollify-tmpl-filelist-item" type="text/x-jquery-tmpl">
	<div id="mollify-filelist-item-${id}" class="mollify-filelist-item ${$item.typeClass($data)}" unselectable="on">
		<div class="mollify-filelist-col mollify-filelist-col-icon">
			<div class="mollify-filelist-item-icon"></div>
		</div>
		{{each(c,col) $item.cols}}
			<div class="mollify-filelist-col mollify-filelist-col-${col.id}" style="${$item.itemColStyle($data, col)}">{{html $item.col($data, col)}}</div>
		{{/each}}
	</div>
</script>

<script id="mollify-tmpl-iconview" type="text/x-jquery-tmpl">
	<div id="${viewId}" class="mollify-iconview">
	</div>
</script>

<script id="mollify-tmpl-iconview-item" type="text/x-jquery-tmpl">
	<div id="mollify-iconview-item-${id}" class="mollify-iconview-item ${$item.typeClass($data)}">
		<div class="mollify-iconview-item-icon"></div>
		<div class="mollify-iconview-item-label">${name}</div>
	</div>
</script>

<script id="mollify-tmpl-main-itemcontext" type="text/x-jquery-tmpl">
	<div id="mollify-itemcontext-${id}" class="mollify-itemcontext">
		<div class="mollify-itemcontext-content loading">
		</div>
	</div>
</script>

<script id="mollify-tmpl-main-itemcontext-content" type="text/x-jquery-tmpl">
	{{if description}}
	<div id="mollify-itemcontext-description">
		${description}
	</div>
	{{/if}}
	<div id="mollify-itemcontext-actions" class="btn-toolbar">
		{{if primaryActions}}
		{{each primaryActions}}
		<div id="mollify-itemcontext-primary-actions" class="btn-group">
			<button class="mollify-itemcontext-primary-actions-button btn btn-primary">${$item.title($value)}</button>
		</div>
		{{/each}}
		{{/if}}
		
		<div class="btn-group">
			<li id="mollify-itemcontext-secondary-actions">
				<button class="btn dropdown-toggle localized" text-key="secondaryActions">&nbsp;<b class="caret"></b></button>
			</li>
		</div>
	</div>
	<div id="mollify-itemcontext-details">
		<ul id="mollify-itemcontext-details-selectors" class="nav nav-tabs">
		</ul>
		<div id="mollify-itemcontext-details-content">
		</div>
	</div>
</script>

<script id="mollify-tmpl-main-itemcontext-details-section" type="text/x-jquery-tmpl">
	<div id="mollify-itemcontext-details-${id}" class="mollify-itemcontext-details">
	</div>
</script>

<script id="mollify-tmpl-main-itemcontext-details-selector" type="text/x-jquery-tmpl">
	<li id="mollify-itemcontext-details-selector-${id}" class="mollify-itemcontext-details-selector"><a href="javascript: void(0);">${title}</a></li>
</script>

<script id="mollify-tmpl-fileviewereditor-popup" type="text/x-jquery-tmpl">
	<div class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class='lightbox-header'>
			<button type="button" class="close" aria-hidden="true">&times;</button>
		</div>
		<div class='lightbox-content'>
			<div class="carousel slide">
			  <div class="carousel-inner">
			  	{{each items}}
			    	<div id="mollify-fileviewereditor-viewer-item-${$value.item.id}" class="mollify-fileviewereditor-viewer-item item {{if $value.init}}active{{/if}}">
			    		<div class="mollify-fileviewereditor-viewer-item-content loading">
			    		</div>
			    		<!--div class="carousel-caption">
			    			<h4>${$value.item.name}</h4>
			    		</div-->
			    	</div>
			    {{/each}}
			  </div>
			  {{if ($item.data.items.length > 1)}}
			  <a class="carousel-control left" href="javascript: void(0);">&lsaquo;</a>
			  <a class="carousel-control right" href="javascript: void(0);">&rsaquo;</a>
			  {{/if}}
			</div>
		</div>
	</div>
</script>
