<div id="login-main">
	<div id="login-data">
		<input id="login-name" type="text" class="login-field hintbox" hint-key="loginViewUsernameTitle"></input>
		<input id="login-password" type="password" class="login-field hintbox" hint-key="loginViewPasswordTitle"></input>
		<input id="login-remember" type="checkbox" class="login-field localized" text-key="loginViewRememberMe"></input>
		<button id="login-button" class="localized" text-key="loginViewLoginAction"></button>
		<a href="javascript:void(0)" id="login-forgot-password" class="login-link localized" text-key="loginViewForgotPassword"></a>
		<a href="javascript:void(0)" id="login-register" class="login-link localized" text-key="loginViewRegister"></a>
	</div>
</div>