<div id="login-main">
	<div id="login-data">
		<input id="login-name" type="text" class="login-field center text-field hintbox" hint-key="loginDialogUsername"></input>
		<input id="login-password" type="password" class="login-field center text-field hintbox" hint-key="loginDialogPassword"></input>
		<label id="login-remember" class="login-field center checkbox"><input id="login-remember-cb" type="checkbox" /><span class="localized" text-key="loginDialogRememberMe"></span></label>
		<a id="login-button" class="localized btn btn-primary center" text-key="loginDialogLoginButton"></a>
		<div id="login-links" class="center">
			<a href="javascript:void(0)" id="login-forgot-password" class="login-link link localized bubble-trigger" text-key="loginDialogResetPassword"></a>
			<div id="login-forgot-password-bubble" style="display:none">
				<div id="login-forgot-password-content" class="bubble-content">
					<span class="localized" text-key="resetPasswordPopupMessage"></span>
					<input id="login-forgot-email" type="text" class="text-field"></input>
					<a id="login-forgot-button" class="localized button button-small" text-key="resetPasswordPopupButton"></a>
				</div>
			</div>
			<a href="javascript:void(0)" id="login-register" class="login-link link localized" text-key="loginDialogRegister" style="display:none"></a>
		</div>
	</div>
</div>