<div id="mainview-main">
	<div id="mainview-header">
		<div id="mainview-logo"></div>
		<div id="mainview-header-tools">
			<div id="mainview-user"></div>
			<div id="mainview-search">TODO</div>
		</div>
	</div>

	<div id="mainview-root-folders">
	</div>

	<div id="mainview-content-container">
		<div id="mainview-content">
			<div id="mainview-filelist">
			</div>
		</div>
	</div>
	
	<div id="mainview-dropbox">
	</div>
	
	<div id="mainview-footer">
	</div>
</div>

<script id="mollify-tmpl-main-username" type="text/x-jquery-tmpl">
	{{if authenticated}}
	<div id="mollify-username-dropdown" class="hover-dropdown"><span>${username}</span></div>
	{{/if}}
</script>