<div id="mainview-main">
	<div id="mainview-header">
		<div id="mainview-logo"></div>
		<div id="mainview-user"></div>
		<div id="mainview-toolbar">
			<div id="mainview-search"></div>
		</div>
	</div>

	<div id="mainview-root-folders">
	</div>

	<div id="mainview-content">
		<div id="mainview-filelist">
		</div>
	</div>
	
	<div id="mainview-dropbox">
	</div>
	
	<div id="mainview-footer">
	</div>
</div>

<script id="mollify-tmpl-main-username" type="text/x-jquery-tmpl">
	<span>${username}</span>
</script>